form {
    opacity: 1;
    visiblity: visible;
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin-top: -230px;
    margin-left: -210px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, .3);
    height: 530px;
    width: 400px;
    color: white;
    text-align: center;
    border-radius: 2px;
    -webkit-box-shadow: 10px 10px 15px -6px rgba(0, 0, 0, 0.25);
    transition: opacity .3s ease-in .3s,
    visibility .3s ease-in .3s;
    transform: scale(.9);
}
.field {
    margin: 20px;
    margin-left: 50px;
    text-align: left;
}
.input {
    margin: 5px;
    width: 300px;
    margin-left: -5px;
    height: 40px;
    border-radius: 2px;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: #25291b;
    background-color: rgba(255,255,255, .5);
    -webkit-box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.3);
    transition: background-color .4s ease-out;
}

.input:focus {
    outline: none;
    background-color: rgba(255,255,255, .8)
}
.wrapperInput{
    display: flex;
    align-items: center;
}
svg{
    cursor: pointer;
}
.submit {
    cursor: pointer;
    margin-top: 20px;
    width: 228px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color: rgba(0,0,0,.6);
    border-radius: 2px;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;

    transition: background-color .4s ease-out;
}

.submit:hover {
    background-color: rgba(0,0,0,.7);
}

.submit:focus {
    outline: none;
    background-color: rgba(0,0,0,.7);
}
.submit:disabled{
    cursor: not-allowed;
}
